@import "../sass/variables";

#activity-feed {
  background-color: $dark-blue;

  .archive-section {
    padding: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid $blue;

    button {
      width: 100%;
    }
  }

  ul {
    padding: 20px;
    padding-top: 0;
  }
}
