@import "../sass/variables";

#activity-feed {
  background-color: $dark-blue;
  padding: 20px;

  .archive-section {
    padding-bottom: 15px;
    border-bottom: 2px solid $blue;

    button {
      width: 100%;
    }
  }
}
